html,
body {
  margin: 0;
  padding: 0;
  background-color: #33383D;
  font-family: 'Inter', sans-serif;
}



button {
  color: white;
  text-align: center;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 5px 1fr 5px;
  grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: ". . ."". Title ."". Connect4 ."". Buttons ."". . .";
}

.Connect4 {
  grid-area: Connect4;
  display: grid;
  justify-content: center;
  align-items: center;
}

.four {
  color: #FF6868;
}

#gameBoard {
  background: #0174D5;
  border-radius: 10px;
  border: solid 10px #0174D5;
}

.Title {
  grid-area: Title;
  display: grid;
  font-size: 25px;
  color: white;
  justify-content: center;
  align-items: center;

}

h1 {
  border: 2px solid white;
  padding: 4px 15px;
  border-radius: 50px;
}

/*button div*/

.Buttons {
  grid-area: Buttons;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  justify-content: center;
  grid-gap: 1px 25px;
  align-items: center;
}




#reset {
  visibility: hidden
}

.easyB {
  grid-column-start: 2;

}

.medB {
  grid-column-start: 3;
}

.hardB {
  grid-column-start: 4;
}